extends boards

block content
  header
  main

append scripts
  script(type="text/javascript").
    App.Board = App.Boards.get(!{board_id});
    App.Board.set("Lists", new Lists(!{JSON.stringify(lists)}))

