include /_mixins

doctype html
html
  head
    title= title
    +stylesheet_link_tag('vendor/bootstrap-3.3.7-dist/css/bootstrap.min')
    +stylesheet_link_tag('vendor/trello-fonts')
    +stylesheet_link_tag('trello')
    +javascript_include_tag('vendor/all')
    +javascript_include_tag('handlebars_templates')
  body
    block content
    +javascript_include_tag('application')
    +javascript_include_tag('models/board', 'models/list', 'models/card', 'models/comment')
    +javascript_include_tag('collections/boards', 'collections/lists', 'collections/cards', 'collections/comments')
    +javascript_include_tag('views/base_view','views/board_view', 'views/list_view', 'views/card_view', 'views/header_view', 'views/boards_view', 'views/board_overview_view', 'views/create_board_form_view', 'views/board_menu_view', 'views/card_overview_view', 'views/new_list_button_view', 'views/list_actions_view', 'views/new_card_view', 'views/rename_board_view', 'views/quick_edit_view', 'views/copy_list_view', 'views/edit_card_description_view', 'views/due_date_view', 'views/board_menu_item_view', 'views/comment_view')
    block scripts
    +javascript_include_tag('router')
