<header>
  <span class="icon-sm icon-back"></span>
  <h1>Archive All Cards in this List?</h1>
  <div class="close small"></div>
</header>
<section>
  <p>
    This will remove all the cards in this list from the board. To view archived cards and bring them back to the board, click “Menu” > “Archived Items.”
  </p>
  <button type="button" id="nuke_it" class="btn">Archive All</button>
</section>
