<div class="margin_wrapper">
  <div class="boards_wrapper">
    
    <section class="board_collection starred">
      <header>
        <h1>
          <span class="icon-lg icon-star"></span>
          <span class="header_text">Starred Boards</span>
        </h1>
      </header>
      <ul id="starred_boards">
      </ul>
    </section>

    <section class="board_collection personal">
      <header>
        <h1>
          <span class="icon-lg icon-member"></span>
          <span class="header_text">Personal Boards</span>
        </h1>
      </header>
      <ul>
        <li>
          <div class="create_new_board">
            Create new board...
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>
