<input type="text" placeholder="Find boards by name..." id="search">
<ul id="board_types">
  <li>
    <span class="icon-sm icon-star"></span>
    <h1>Starred Boards</h1>
    <span class="icon-sm icon-add"></span>
  </li>
  <li>
    <span class="icon-sm icon-clock"></span>
    <h1>Recent Boards</h1>
    <span class="icon-sm icon-add"></span>
  </li>
  <li>
    <span class="icon-sm icon-board"></span>
    <h1>Personal Boards</h1>
    <span class="icon-sm icon-add"></span>
  </li>
</ul>
<ul id="menu_actions">
  <li>
    <div>
      <a href="#">Create new board...</a>
    </div>
  </li>
  <li>
    <div>
      <a href="#">Always keep this menu open.</a>
    </div>
  </li>
  <li>
    <div>
      <a href="#">See closed boards.</a>
    </div>
  </li>
</ul>
