<div class="card_detail">
  <div class="close"></div>
  <div class="two_columns">
    <div class="content">
      <section id="general">
        <header>
          <h1>
            <span class="icon-lg icon-card"></span>
            {{name}}
          </h1>
          <p>in list <a href="listname">listname</a><p>
        </header>
        <a href="#" class="edit-description">
          <span class="icon-sm icon-description"></span>
          Edit the description...
        </a>
      </section>

      <section id="comment">

        <header>
          <h1>
            <span class="icon-lg icon-comment"></span>
            Add Comment
          </h1>
        </header>
        <div class="user_pic"></div>
        <form action="">
          <fieldset>
            <div class="comment_container">
              <textarea name="comment_text" id="comment_text" cols="65" rows="2" placeholder="Write a comment..."></textarea>
              <div class="comment_toolbar">
                <div class="tools">
                  <span class="icon-sm icon-attachment"></span>
                  <span class="icon-sm icon-mention"></span>
                  <span class="icon-sm icon-emoji"></span>
                  <span class="icon-sm icon-card"></span>
                </div>
              </div>
            </div>
            <button class="btn btn-secondary">Send</button>
          </fieldset>
        </form>
      </section>

      <section id="activity">
        <header class="clearfix">
          <h1>
            <span class="icon-lg icon-activity"></span>
            Activity
          </h1>
          <a href="#">Hide Details</a>
        </header>


        <ul id="activity_feed">
          <li>
            <div class="small_user_pic"></div>
            <span>
              <strong>
                David Kurutz
              </strong>
               left this card
               <small>yesterday at 11:34PM</small>
            </span>
          </li>
          <li>
            <div class="small_user_pic"></div>
            <span>
              <strong>
                David Kurutz
              </strong>
               left this card
               <small>yesterday at 11:34PM</small>
            </span>
          </li>
          <li>
            <div class="small_user_pic"></div>
            <span>
              <strong>
                David Kurutz
              </strong>
               left this card
               <small>yesterday at 11:34PM</small>
            </span>
          </li>
        </ul>
      </section>
    </div>

    <div class="sidebar">
      <div class="add">
        <header>
          <h1>Add</h1>
        </header>
        <ul class="edit_add">
          <li>
            <button class="btn btn-sm btn-block">
              <span class="icon-sm icon-member"></span>
              Members
            </button>
          </li>
          <li>
            <button class="btn btn-sm btn-block">
              <span class="icon-sm icon-label"></span>
              Labels
            </button>
          </li>
          <li>
            <button class="btn btn-sm btn-block">
              <span class="icon-sm icon-checklist"></span>
              Checklist
            </button>
          </li>
          <li>
            <button class="btn btn-sm btn-block">
              <span class="icon-sm icon-clock"></span>
              Due Date
            </button>
          </li>
          <li>
            <button class="btn btn-sm btn-block">
              <span class="icon-sm icon-attachment"></span>
              Attachment
            </button>
          </li>
        </ul>
      </div>

      <div class="edit_actions">
        <header>
          <h1>Actions</h1>
        </header>
        <ul class="actions_list">
          <li>
            <button class="btn btn-sm btn-block">
              <span class="icon-sm icon-move"></span>
              Move
            </button>
          </li>
          <li>
            <button class="btn btn-sm btn-block">
              <span class="icon-sm icon-card"></span>
              Copy
            </button>
          </li>
          <li>
            <button class="btn btn-sm btn-block">
              <span class="icon-sm icon-subscribe"></span>
              Subscribe
            </button>
          </li>
          <li>
            <button class="btn btn-sm btn-block">
              <span class="icon-sm icon-archive"></span>
              Archive
            </button>
          </li>
        </ul>
      </div>

      <footer>
        <a href="#" class="share">Share and more...</a>
      </footer>
    </div>

  </div>
</div>
