  <form id="comment_edit_form" action="">
    <fieldset>
      <div class="comment_container">
        <textarea name="comment_text" id="comment_edit_text" cols="65" rows="2" placeholder="Write a comment...">{{comment_text}}</textarea>
        <div class="comment_toolbar">
          <div class="tools">
            <span class="icon-sm icon-attachment"></span>
            <span class="icon-sm icon-mention"></span>
            <span class="icon-sm icon-emoji"></span>
            <span class="icon-sm icon-card"></span>
          </div>
        </div>
      </div>
      <input type="submit" id="send_comment" class="btn btn-secondary" value="Send">
    </fieldset>
  </form>