<div class="small_user_pic" id='comment_{{id}}'></div>
  <h1><strong>David Kurutz</strong></h1>
  <div class="comment">{{comment_text}}</div>
  <div class="comment_options">
  <small>
    <a href="#" class="edit_comment">Edit</a>
    <a href="#" class="delete_comment">Delete</a>
  </small>
</div>

