<header>
  <span class="icon-sm icon-back"></span>
  <h1>Copy List</h1>
  <div class="close small"></div>
</header>
<section>
  <form action="#">
    <fieldset>
      <label for="new_name">Name</label>
      <textarea name="name" id="new_name" cols="30" rows="10">
        {{name}}
      </textarea>
      <input type="submit" class="btn green-btn">
    </fieldset>
  </form>
</section>
