<header>
  <h1>Create</h1>
  <div class="close small"></div>
</header>
<ul class="create_options">
  <li id="create_board">
    <h1>Create Board...</h1>
    <p>A board is a collection of cards ordered in a list of lists. Use it to manage a project, track a collection, or organize anything.</p>
  </li>
  <li id="create_personal_team">
    <h1>Create Personal Team...</h1>
    <p>A board is a collection of cards ordered in a list of lists. Use it to manage a project, track a collection, or organize anything.</p>
  </li>
  <li id="create_business_team">
    <h1>Create Business Team</h1>
    <p>With Business Class, your team has more security, administrative controls and superpowers.</p>
  </li>
</ul>