<header>
  <h1>Change Due Date</h1>
  <div class="close small"></div>
</header>
<form action="">
  <fieldset>
    <div class="date-col">
      <label for="date">Date</label>
      <input type="text" name="duedate" id="duedate-field">
    </div>
    <div class="time-col">
      <label for="time">Time</label>
      <input type="text" name="time" id="time-field" value="12:00 AM">
    </div>
    <div id="calendar">
    </div>
    <input type="submit" value="Save" class="btn submit">
    <button class="btn remove">Remove</button>
  </fieldset>
</form>

