  <header>
    <h1>{{name}}</h1>
    <span class="icon-sm icon-overflow-menu-horizontal list_actions"></span>
  </header>
  <ul class="cards">
  </ul>
  <footer>
    <a href="#">Add a card...</a>
  </footer>

