  <header>
    <div contenteditable="true" class="edit_title">{{name}}</div>
    <span class="icon-sm icon-overflow-menu-horizontal list_actions"></span>
  </header>
  <ul class="cards">
  </ul>
  <footer>
    <a href="#">Add a card...</a>
  </footer>

