<header>
  <h1>List Actions</h1>
  <div class="close small"></div>
</header>
<ul>
  <li id="add_card">
    Add Card...
  </li>
  <li>
    Copy List...
  </li>
  <li>
    Move List...
  </li>
  <li>
    Subscribe
  </li>
</ul>
<ul>
  <li id="move_all_to_another">
    Move All Cards in This List..
  </li>
  <li id="archive_all_cards">
    Archive All Cards in This List...
  </li>
</ul>
<ul>
  <li id="archive_list">
    Archive This List
  </li>
</ul>