<header>
  <span class="icon-sm icon-back"></span>
  <h1>Move List</h1>
  <div class="close small"></div>
</header>
<div id="select_board"></div>
<div class="select_list_position"></div>
<input type="submit" value="Move">
