<form action="#">
  <fieldset>
    <input type="text" id="add_list_name" name="name" placeholder="Add a list...">
    <input type="hidden" name="board_id" value={{board_id}}>
    <input type="submit" value="Save" class="btn-sm btn-success">
  </fieldset>
</form>
<div class="close"></div>
