<div class="close"></div>
<div id="quick_edit">
  <form action="#">
    <fieldset>
      <textarea name="name" id="" cols="30" rows="10" id="quick_edit_name">
        {{name}}
      </textarea>
      <input type="submit" class="btn" value="Save">
    </fieldset>
  </form>
  <ul id="card_options">
    <li>
      <span class="icon-sm icon-label"></span>
      Edit Labels
    </li>
    <li>
      <span class="icon-sm icon-member"></span>
      Change Members
    </li>
    <li>
      <span class="icon-sm icon-move"></span>
      Move
    </li>
    <li>
      <span class="icon-sm icon-card"></span>
      Copy
    </li>
    <li>
      <span class="icon-sm icon-clock"></span>
      Change Due Date
    </li>
    <li id="archive_card">
      <span class="icon-sm icon-archive"></span>
      Archive
    </li>
  </ul>
</div>
