<header>
  <h1>Rename Board</h1>
  <div class="close small"></div>
</header>
<form action="#">
  <fieldset>
    <dl>
      <dt>
        <label for="new_name">Name</label>
      </dt>
      <dd>
        <input type="text" name="title" id="new_name" value="{{title}}">
      </dd>
    </dl>
    <input type="submit" class='btn btn-md' value="Rename">
  </fieldset>
</form>