colors = {
  grey: #787878,
  grey2: #b0b0b0,
  white: #fff,
  black: #000,
  red: #d60041,
  pink: #a90040,
  pink2: #ff3170,
  gold: #ab7829
}


angle(color)
  content: ""
  display: block
  width: 0
  height: 0
  position: absolute
  left: 0
  top: 0
  border-right: 14px solid transparent
  border-bottom: 14px solid transparent
  border-top: 14px solid color
  border-left: 14px solid color
  
plus_sign()
  content: "+"
  margin: 0 5px 0 0
  display: inline-block
  font-size: 14px
  font-weight: bold
  
smallBoardHeaderDiv()
  display: inline-block
  vertical-align: top
  height: 33px
  border-radius: 3px
  font-size: 12px
  box-sizing: border-box
  padding: 6px
 
darkBlueHover()
  background-color: #1D507A

greyBtnHover()
  background-color: #cdcdcd
  color: #666
  
navhover()
  background-color: #6EA2C0
  color: white
  
boardObj()
  width: auto
  height: 97px
  background: #0067A3
  border-radius: 3px
  padding: 10px
  position: relative