smallBoardHeaderDiv()
  display: inline-block
  vertical-align: top
  height: 33px
  border-radius: 3px
  font-size: 12px
  box-sizing: border-box
  padding: 6px
 
darkBlueHover()
  background-color: #1D507A

greyBtnHover()
  background-color: #cdcdcd
  color: #666
  
navhover()
  background-color: #6EA2C0
  color: white
  
boardObj()
  width: auto
  height: 97px
  background: #0067A3
  border-radius: 3px
  padding: 10px
  position: relative

greenButton()
  background-color: #5FB74B
  color: white
  font-weight: bold
  width: 120px
  margin: 10px 0 0 0
  &:hover
    background-color: #4EA63A
    
greyRedButton()
  width: 100%;
  height: 40px;
  background-color: #bbb;
  color: #b04632;
  font-weight: bold;
  border: none;
  box-shadow: inset 0 0 10px #ccc;
  box-shadow: 0 1px 1px #888
      
inPlaceEdit()
  display: inline-block
  overflow-x: auto
  word-wrap: break-word
  white-space: normal
  overflow-wrap: break-word
  font-weight: bold
  border: none
  resize: none
  width: 200px
  border-radius: 3px
  padding-left: 5px
  outline: none
  background-color: inherit
  &:focus
    background-color: white

    
editForm()
  width: 100%
  height: 80px
  background-color: #E2E4E6
  z-index: 3
  position: absolute
  top: 0
  left: 0
  border-radius: inherit
  padding: 5px
  #add_list_name
    height: 35px
  #add_list_name,
  textarea
    width: 100%
    outline: none
    background-color: #D6D8DA
    border-radius: 5px
    border: 1px solid #bbb
    box-shadow: inset 0 0 5px #aaa
    padding: 0 5px
    color: #333
    &::placeholder
      color: #888
  input[type="submit"]
    display: block
    width: 70px
    margin: 5px 0
    border: none
    box-shadow: 0 1px 1px #222
    font-weight: bold
    font-size: 14px
  div.close
    top: 39px
    right: 165px
